%p
  = link_to new_user_path, class: "btn-floating btn-large waves-effect waves-light red" do
    %i.material-icons add
%table.responsive-table.striped#users
  %thead
    %tr.hide-on-small-only
      %th Avatar
      %th First Name
      %th Last Name
      %th Email
      %th
  %tbody
    - @users.each do |user|
      - unless user.has_role?(:superadmin) && current_user.has_not_role?(:superadmin)
        %tr
          %td{"data-link" => user_path(user)}= image_tag avatar_url(user), class: 'circle'
          %td{"data-link" => user_path(user)}= user.first_name
          %td{"data-link" => user_path(user)}= user.last_name
          %td{"data-link" => user_path(user)}= user.email
          %td.hide-on-small-only.right-align
            = link_to edit_user_path(user), class: "waves-effect waves-light btn" do
              %i.material-icons edit
            - if current_user && (current_user.id == user.id)
              %btn.btn.disabled
                %i.material-icons delete_forever
            - else
              = link_to user_path(user), method: :delete, data: { confirm: 'Delete User?', commit: 'Delete', cancel: 'Cancel' }, class: 'waves-effect waves-light btn' do
                %i.material-icons delete_forever
