.section
  .row
    .col.s12.m6
      .card.hoverable
        .card-title.white.lighten-1.profile-title
        .card-content.teal.white-text.center-align
          = image_tag avatar_url(@user), class: "circle profile-avatar z-depth-2", width: "150px"
          %h4.thin
            = @user.name
          %span.light
            = @user.email
          %br &nbsp;
          %br &nbsp;
          .row
            .col.s12.m6
              %p.thin
                = t('models.role', count: @user.roles.length)
              %p
                - @user.roles.each do |role|
                  .chip.teal.lighten-1.white-text
                    %small
                      = role.name.humanize
              %br
              .divider.hide-on-med-and-up

            .col.s12.m6
              %p.thin
                Freunde
              %p
                = render 'friends'
                %br
                .divider.hide-on-med-and-up
              %p.thin
                Follower
              %p
                = render 'followers'
          .divider
          = link_to users_path, class: 'waves-effect waves-light btn-flat white-text' do
            = t('actions.back')
          = link_to edit_user_path(@user), class: 'waves-effect waves-light btn-flat white-text' do
            = t('actions.edit')
          = render 'follow_form'

