.fixed-action-btn
  = link_to new_role_path, class: "btn-floating btn-large waves-effect waves-light red" do
    %i.material-icons add
%ul.collapsible.popout{'data-collapsible' => 'accordion'}
  - @roles.each do |role|
    %li
      .collapsible-header
        %div
          = role.name.humanize
          %span.badge-count
            = @users.find_by_role_id(role.id).count
          = link_to role_path(role), method: :delete, data: { confirm: t('actions.confirm_delete', model: role.name.humanize), commit: t('actions.delete'), cancel: t('actions.cancel') }, class: 'secondary-content' do
            %i.material-icons delete_forever
      .collapsible-body
        - if @users.find_by_role_id(role.id).any?
          %p
            = @users.find_by_role_id(role.id).map{ |user| user.name }.join(', ')
