= simple_form_for @role do |f|
  = f.error_notification
  .section
    .form-inputs
      .row
        .col.s12
          .row
            .col.s12= f.input :name
  .divider
  .section
    .form-actions
      = link_to roles_path, class: 'waves-effect waves-light btn' do
        = t('buttons.back')
      = button_tag(type: "submit", class: "waves-effect waves-light btn") do
        = t('buttons.save')
