= simple_form_for @category do |f|
  = f.error_notification
  .section
    .form-inputs
      .row
        .col.s12
          .row
            .col.s12= f.input :name, autofocus: true
            .col.s12= f.input :description, as: :text, input_html: { class: 'materialize-textarea' }
  .divider
  %small.grey-text
    = '* ' + t('actions.required')
  .section
    .form-actions
      = link_to categories_path, class: 'waves-effect waves-light btn' do
        = t('actions.back')
      = button_tag(type: "submit", class: "waves-effect waves-light btn") do
        = t('actions.save')
