.nav-wrapper.container
  %a.brand-logo#logo-container{href: '/'}
    %b kitchenhelper!
  %a.button-collapse{'data-activates' => 'nav-mobile', href: '#'}
    %i.material-icons menu
  %ul.right.hide-on-med-and-down
    %li#welcome.tooltipped{"data-delay" => "500", "data-position" => "bottom", "data-tooltip" => t('paths.dashboard').titleize}
      = link_to '/' do
        %i.material-icons home
    - if can?(:read, User)
      %li#users.tooltipped{"data-delay" => "500", "data-position" => "bottom", "data-tooltip" => t('models.user', count: 2).titleize}
        = link_to users_path do
          %i.material-icons people
    - if can?(:manage, :role)
      %li#roles.tooltipped{"data-delay" => "500", "data-position" => "bottom", "data-tooltip" => t('models.role', count: 2).titleize}
        = link_to roles_path do
          %i.material-icons group_work
    - if user_signed_in?
      %li
        = render 'layouts/user_options'
    - else
      %li
        = link_to 'Login', login_path
  %ul#nav-mobile.side-nav
    %li
      = link_to '/' do
        %i.material-icons.left home
        = t('paths.dashboard')
    - if can?(:read, User)
      %li#users
        = link_to users_path do
          %i.material-icons.left people
          = t('models.user', count: 2)
    - if can?(:manage, :role)
      %li#roles
        = link_to roles_path do
          %i.material-icons.left group_work
          = t('models.role', count: 2)
    - if user_signed_in?
      %li
        = link_to logout_path, method: :delete do
          %i.material-icons.left power_settings_new
          Logout
    - else
      %li
        = link_to login_path do
          %i.material-icons.left power_settings_new
          Login

:coffee
  $(document).ready ->
    $(".button-collapse").sideNav();
  $("##{controller.controller_name}").addClass 'active'
