.nav-wrapper.container
  %a.brand-logo#logo-container{href: '/'}
    %b kitchenhelper!
  %a.button-collapse{data:{activates: 'nav-mobile'}, href: '#'}
    %i.material-icons menu
  %ul.right.hide-on-med-and-down
    %li#welcome.tooltipped{data:{delay: '500', position: 'bottom', tooltip: t('paths.dashboard').titleize}}
      = link_to '/' do
        %i.material-icons home
    - if can?(:read, User)
      %li#users.tooltipped{data:{delay: '500', position: 'bottom', tooltip: t('models.user', count: 2).titleize}}
        = link_to users_path do
          %i.material-icons people
          %span.badge.teal.white-text.z-depth-2
            %small= User.count
    - if can?(:manage, :role)
      %li#roles.tooltipped{data:{delay: '500', position: 'bottom', tooltip: t('models.role', count: 2).titleize}}
        = link_to roles_path do
          %i.material-icons group_work
          %span.badge.teal.white-text.z-depth-2
            %small= Role.count
    - if can?(:manage, :category)
      %li#categories.tooltipped{data:{delay: '500', position: 'bottom', tooltip: t('models.category', count: 2).titleize}}
        = link_to categories_path do
          %i.material-icons library_books
          %span.badge.teal.white-text.z-depth-2
            %small= Category.count
    - if can?(:manage, :unit)
      %li#units.tooltipped{data:{delay: '500', position: 'bottom', tooltip: t('models.unit', count: 2).titleize}}
        = link_to units_path do
          %i.material-icons perm_data_setting
          %span.badge.teal.white-text.z-depth-2
            %small= Unit.count
    - if user_signed_in?
      %li
        = render 'layouts/user_options'
    - else
      %li
        = link_to 'Login', login_path
  %ul#nav-mobile.side-nav
    %li
      = link_to '/' do
        %i.material-icons.left home
        = t('paths.dashboard')
    %li
      - if user_signed_in?
        = link_to user_path(current_user) do
          %i.material-icons.left person
          = t('paths.profile', count: 1)
    - if can?(:read, User)
      %li#users
        = link_to users_path do
          %i.material-icons.left people
          = t('models.user', count: 2)
    - if can?(:manage, :role)
      %li#roles
        = link_to roles_path do
          %i.material-icons.left group_work
          = t('models.role', count: 2)
    - if can?(:manage, :category)
      %li#categories
        = link_to categories_path do
          %i.material-icons.left library_books
          = t('models.category', count: 2)
    - if can?(:manage, :unit)
      %li#units
        = link_to units_path do
          %i.material-icons.left perm_data_setting
          = t('models.unit', count: 2)
      .divider
    - if user_signed_in?
      %li
        = link_to logout_path, method: :delete do
          %i.material-icons.left power_settings_new
          Logout
    - else
      %li
        = link_to login_path do
          %i.material-icons.left power_settings_new
          Login

:coffee
  $("##{controller.controller_name}").addClass 'active'
