%a.dropdown-button{"data-activates" => "user-options", href: "#"}
  = current_user.email
  &nbsp;&#9662;

%ul#user-options.dropdown-content
  %li
    = link_to user_path(current_user) do
      %i.material-icons.left settings
      = t('paths.profile', count: 2)
  %li
    %a{href: "#"}
      %i.material-icons.left info
      = t('paths.info', count: 2)
  %li.divider
  %li
    = link_to logout_path, method: :delete do
      %i.material-icons.left power_settings_new
      Logout
