!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title kitchenhelper!
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
  %body
    %main
      .navbar-fixed
        %nav.red{role: "navigation"}
          = render 'layouts/navigation'
      %nav#breadcrumb.grey.lighten-1.z-depth-0
        .nav-wrapper
          .col.s12
            = render_breadcrumbs separator: '', tag: "span class='breadcrumb'"
      .container
        .section
          = render 'layouts/flash_messages'
          = yield
    %footer.grey.lighten-1.z-depth-0.page-footer.white-text
      .container
        .row
          .col.l6.s12
            %h5 kitchenhelper!
            %p Work in progress.
          .col.l4.offset-l2.s12
            %h5 Contact
            %ul
              %li
                %iframe{:frameborder => "0", :height => "30px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=mschneider85&repo=kitchenhelper&type=star&count=true&size=large", :width => "160px"}
              %li
                Martin Schneider
              %li
              %li
      .footer-copyright.white.black-text.text-lighten-4
        .container
          © 2016 kitchenhelper!
          %a.right{:href => "mailto:mschneider85@gmx.de"} mschneider85@gmx.de
